* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(223, 223, 223);
}




/* nav bar */

.navbar {
    background-color: white;
}





/* quadros informativos */

.texto {
    background-color: white;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.253) -2px 2px 5px;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




section#infos{
    display: flex;
    padding: 30px;
}


/* quem sou */

section#infos #quem-sou {
    margin-right: 30px;
}


#perfil-img {
    float: left;
    margin-right: 20px;
}

.container-text {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-text p{
    margin-bottom: 0px;
    min-width: 300px;
}







/* tecnologias */

section#tecnos {
    padding: 30px;
}

section#tecnos div #container-img-desc {
    margin-top: 70px;
}

section#tecnos div img.img-tecno {
    height: 150px;
}






/* serviços */

section#service {
    padding: 30px;
}




/* desenvolvedor */

footer.developer {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 15px;
}

footer.developer p{
    margin-bottom: 0px;
} 






/* Configuração de responsividade */

@media screen and (max-width: 1150px) {
    #perfil-img {
        float:unset;
        margin-bottom: 30px;
    }

    .container-text {
        flex-direction: column;
    }
}


@media screen and (max-width: 850px) {
    section#infos{
        flex-direction: column;
    }

    section#infos #quem-sou {
        margin-right: 0px;
        margin-bottom: 30px;
    }
}